.promo {
    .container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 360px;
        gap: 50px;
        padding-top: 5.6rem;
    }

    &__wrapper {
        width: 100%;
        position: relative;
        margin-right: 4rem;
        padding-bottom: 1rem;
        overflow: hidden;

        .swiper-pagination {
            position: absolute;
            bottom: 0;
            left: 0;
            

            &-bullet {
                width: 32px;
                height: 2px;
                border-radius: 0;
                background-color: #000;
            }
        }

        .slider-dots {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-right: 15%;
            margin-left: 15%;
            list-style: none;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: none;
        color: $main-color;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 3;

        &::after {
            display: none;
        }

        ion-icon {
            width: 24px;
            height: 24px;
        }
    }

    &__prev, &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: none;
        color: $main-color;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 3;

        ion-icon {
            width: 24px;
            height: 24px;
        }
    }

    &__prev {
        left: 1rem;
    }

    &__next {
        right: 1rem;
    }

    &__inner, &__slider {
        width: 100%;
        height: 100%;
    }

    &__item {
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }
    }

    &__mobileMenu {
        display: none;
    }

    &__right {
        position: relative;
        padding-bottom: 1rem;
        overflow: hidden;

        .swiper-button-prev {
            display: none;
        }

        .swiper-button-next {
            right: 0;
            box-shadow: rgba(4, 6, 28, 0.1) 0px 1px 20px 0px;
        }

        .product {
            background-color: #f5f5f6;
            padding: 24px;
            border-radius: 15px;
            height: 100%;

            &__img {
                width: 200px;
                display: block;
                margin: 0 auto;
                text-align: center;
                margin-top: 20px;

                img {
                    width: 130px;
                    height: 130px;
                }
            }

            &__title {
                font-size: 22px;
                font-weight: bold;
            }

            &__name {
                margin-top: 5px;
                a {
                    font-weight: 400;
                    color: #6b6b6b;
                    text-decoration: none;
                    font-size: 16px;
                }
            }

            &__bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
            }

            &__price {
                display: flex;
                flex-direction: column;

                .old {
                    text-decoration: line-through;
                    color: #6b6b6b;
                }

                .new {
                    margin-top: 5px;
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            &__toBasket {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                color: #fff;
                padding: 7px 23px;
                background-color: $main-color;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    background-color: $hover-color;
                }
            }
        }

        .swiper-pagination {
            position: absolute;
            bottom: 0;
            left: 0;
            

            &-bullet {
                width: 32px;
                height: 2px;
                border-radius: 0;
                background-color: #000;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .promo {
        .container {
            grid-template-columns: 100%;
            row-gap: 0;
        }

        &__wrapper {
            margin-right: 0;
        }

        &__mobileMenu {
            display: block;
            padding: 50px 0 50px 0;

            ul {
                list-style: none;
                li {
                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        text-decoration: none;
                        color:rgba(4, 6, 28, 1);
                        padding: 10px;
                        border-radius: 5px;
                        border: 1px solid #ddd;
                        font-size: 14px;

                        ion-icon {
                            font-size: 30px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 480px;
            height: 200px;
            img {
                width: 100%;
                height: 186px;
                border-radius: 15px;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .promo {
        .container {
            padding-top: 35px;
            grid-template-rows: 235px;
        }

        &__wrapper {
            height: 250px;
        }

        &__inner {
            width: 800px;
        }
    }
}

@media screen and (max-width: 500px) {
    .promo {
        &__wrapper {
            .swiper-button-next,
            .swiper-button-prev {
                display: none;
            }

            .swiper-pagination {
                display: none;
            }
        }

        &__item {
            img {
                width: 280px;
                height: 200px;
            }
        }

        &__right {
            .swiper-button-next,
            .swiper-button-prev {
                display: none;
            }

            .swiper-pagination {
                display: none;
            }
        }
    }
}