.subscribe {
    margin-top: 5.6rem;
    background-color: #f5f5f6;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }

    &__info {
        h3 {
            font-size: 22px;
        }

        p {
            font-size: 13px;
            margin-top: 20px;
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 50%;
            margin-right: 5px;
            font-size: 16px;
            padding: 12px 16px;
            border-radius: 5px;
            border: 1px solid grey;
        }

        button {
            width: 50%;
            padding: 12px 16px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: $main-color;
            cursor: pointer;
            color: #fff;
            font-weight: bold;
            transition: all .2s;

            &:hover {
                background-color: $hover-color;
            }
        }
    }

    &__info {
        width: 40%;
    }

    &__form {
        width: 50%;
    }
}

@media screen and (max-width: 769px) {
    .subscribe {
        &__wrapper {
            flex-direction: column;
        }

        &__info, &__form {
            width: 100%;
        }

        &__form {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            input {
                width: 50%;
            }

            button {
                width: 50%;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .subscribe {
        &__form {
            input, button {
                width: 100%;
            }
        }
    }
}